{% extends "bootstrap/base.html" %}
{% block title %}Docker-Mesos{% endblock %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style type = 'text/css'>
.instance_name
{
	margin-left: 25px;
}
.instance_info
{
	margin-left: 75px;
}
#header{
	text-align:center;
	background-color: black;
	color: white;
}
#theseus-title{
	color:white;
}
#navbar-link{
	color:gray;
	font-size: 15px;
}
#navbar-link:hover{
	color: white;
	text-decoration:none;
}
.service-label{
	margin-bottom: 3px;
}
#instance-detail-list li{
	margin-left: 50px;
}
#instance-detail-list li ul .port-li{
	margin-left: -15px;
	list-style-type: none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #2C3C49;
}
a.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
	color: #0D111F;
	background-color: #fff;
}
.label-default {
	background-color: #999;
	font-size: 13px;
}
.labeled-group-div{
	margin: 15px;
	padding: 10px 5px 10px 5px;
	cursor: pointer;
}
ul.labeled-group-list li{
	list-style: none;
	text-indent: 15px;
}
</style>

<script type='text/javascript'>
$(document).ready(function(){
	$('.labeled-group-div').click(function(){
		alert('do you want to deploy this group');
	});
});
</script>



<nav id = 'header' class="navbar navbar-default" role="navigation">
	<div class='navbar-brand' id='theseus-title'>Dashboard</div>
	<div class='navbar-brand'><a id = 'navbar-link' href = 'http://54.188.87.91:5050'>Mesos Dashboard</a></div>
	<div class='navbar-brand'><a id='navbar-link' href = 'http://54.188.87.91:8080'>Marathon Dashboard</a></div>
</nav>

<div id='left-col' class='col-md-2'>
<h2>Services</h2>
<div id='service-list-wrapper'>
	<ul class="list-group">
		{% for service in services %}
		<li class='list-group-item service-button'>{{ service.name }}</li>
		{% endfor %}
	</ul>
</div>
</div>


<div id='mid-col'class='col-md-6'>
<h2>Configuration</h2>
<div id='configuration-viewer'>
	{% for group in groups %}
	<div id = "{{ group.encode_marathon_id }}" class='labeled-group-div panel panel-default'>
		<ul class='labeled-group-list'>
		<b>service </b>{{ group.service }}
		<b>labels </b>{{ group.labels }}
		{% for key in group.config.keys() %}
		<li>{{ key }}: {{ group.config[key] }}
		</li>
		{% endfor %}
		<b>version</b> {{ group.version }}
		</ul>

	</div>
	{% endfor %}
</div>
</div>


<div id='right-col' class='col-md-4'>
<h2>Information</h2>
</div>

{% endblock %}
