{% extends "bootstrap/base.html" %}
{% block title %}Docker-Mesos{% endblock %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet"
      type="text/css"
      href="/static/index.css"/>

<script language="javascript"
      type="text/javascript"
      src="/static/index.js"></script>



<nav id = 'header' class="navbar navbar-default" role="navigation">
	<div class='navbar-brand' id='theseus-title'>Dashboard</div>
	<div class='navbar-brand'><a id = 'navbar-link' href = 'http://54.188.87.91:5050'>Mesos Dashboard</a></div>
	<div class='navbar-brand'><a id='navbar-link' href = 'http://54.188.87.91:8080'>Marathon Dashboard</a></div>
</nav>

<div id='left-col' class='col-md-2'>
<h2 style ='text-align:center'>Services</h2>
<div id='service-list-wrapper'>
	<ul class="list-group">
		{% for s_key in director.services.keys() %}
		{% with service=director.services.get(s_key) %}
		{% if query_service==service.name or query_service =="None" %}
			<li class='list-group-item service-button'>{{ service.name }}</li>
		{% endif %}
		{% endwith %}
		{% endfor %}
	</ul>
</div>
</div>


<div id='mid-col'class='col-md-6'>
<h2 style ='text-align:center'>Configuration</h2>
<div id='configuration-viewer'>

	{% for group in groups %}

		<div id = "{{ group.encode_marathon_id }}" class='labeled-group-div panel panel-default'>
			<ul class='labeled-group-list'>
			<div><b>service </b>{{ group.service.name }}</div>
			<div><b>labels </b>{{ group.labels }}</div>
			{% for key in group.config.keys() %}
			<li>{{ key }}: {{ group.config[key] }}
			</li>
			{% endfor %}
			<div><b>version</b> {{ group.version }}</div>
			<div><b>task id</b> {{ group.deploy_ids }}</div>
			</ul>

		</div>

	{% endfor %}
</div>
</div>


<div id='right-col' class='col-md-4'>
<h2 style ='text-align:center'>Containers</h2>
<div id='etcd-data-wrapper'>


	{% for service in registered.keys() %}
	{% if registered[service].keys()|length > 0 %}
		  <div clas='panel panel-default'>

		  <div class='label label-default'>{{ service }} ({{ registered[service].keys()|length }})</div>
		    {% for instance in registered[service].keys() %}
		    <div id='instance-detail-list' class = 'panel panel-default'>
		    	<b>{{ registered[service][instance]['instance_name'] }}</b>
		    	<div>host: {{ registered[service][instance]['instance_host'] }}</div>
				<div>ports: 
					<ul>
						{% for key in registered[service][instance]['port_mapping'].keys() %}
							<li class = 'port-li'>{{ key }}: <a href="http://{{ registered[service][instance]['instance_host'] }}:{{ registered[service][instance]['port_mapping'][key]['external'][1][:-4] }}">{{ registered[service][instance]['instance_host'] }}:{{ registered[service][instance]['port_mapping'][key]['external'][1][:-4] }}</a>
							</li>
							{% endfor %}
					</ul>
					<!-- end of list of ports -->
				</div>
				{% if registered[service][instance]['labels']|length != 0 %}
				<div>labels: {{registered[service][instance]['labels'] }}</div>
				{% endif %}
	    	</div>
	    	<!-- end of service instance -->
	    	 {% endfor %}
	  	</div>
	 {% endif %}
	 {% endfor %}
	  	<!-- end of li for service -->


</div>


</div>

{% endblock %}
